* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fafafa; */
  background-image: url("https://images7.alphacoders.com/938/thumb-1920-938300.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  color: #1d1d1d;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  height: 40px;
  background-color: rgba(237, 237, 237, 0.9);
  border: 2px solid rgb(54, 54, 67);
  border-radius: 5px;
  box-shadow: -5px -5px 20px #f9f9f9e6, -4px -4px 5px #f9f9f9e6, 5px 5px 20px #0003, 4px 4px 5px #0000004d;
}


img {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-list{
  padding: 20px 40px 20px 20px;
}

.country-list__item{
  display: flex;
  margin: 20px;
  background-color: rgba(234, 184, 184, 0.435);
  border-radius: 4px;

}

.country-list__img{
  margin: 10px;
}

.country-list__name{
  margin: 10px;
  font-size: 20px;
}
.country-info{
  margin: 10px;
}
.country-info__head{
  display: inline-block;
  background-color: rgba(253, 168, 162, 0.6);
  padding: 20px;
  border-radius: 4px;
}
.country-info__img{
  margin: 0 auto;
}

.country-info__name{
  margin: 0 auto;
  padding: 10px ;
  font-size: 26px;
}

.country-info__list{
  padding: 10px;
  background-color: rgb(207, 177, 166);
  border: 1px solid rgb(54, 54, 67);
  border-radius: 4px;
}
.country-info__item{
  margin: 5px 5px 5px 0px;

}